.description {
    padding: 15px 3% 20px 25%;
}

.mainPicture {
width: 100%;
object-fit: cover;
height: 390px;
}

.genre {
    height: 50px;
    padding-top: 15px;
}
.cards {
margin: 50px 10%;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 80px;
}
.cardsFlex {
    height: 500px;
    box-shadow: 5px 5px 5px rgba(60, 60, 60, 0.2);
    border-radius: 0px 0px 15px 15px;
}
.infoKittens {
    display: flex;
    justify-content: space-around;
    padding: 0px 10px 10px 10px;
}
.name{
    font-size: 20px;
}