.contactContainer {
    background-image: url("../assets//pictures/patte_info_compl.png");
    background-position: top;
    width: 100%;
    background-size: 850px;
    height: 640px;
    background-repeat: no-repeat;
    padding-top: 466px;
    position: relative;
}

.catContactDiv {
    width: 317px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.catContactImg {
    width: 100%;
}

.contactText {
    text-align: left;
    font-family: "Abhaya Libre";
    font-weight: 800;
    font-size: 18px;
    width: 150px;
    color: white;
}

.email,
.tel,
.adress,
.contactForm,
.contactUsText {
    position: absolute;
}

.email {
    top: 275px;
    left: 222px;
}

.tel {
    top: 154px;
    left: 421px;
}

.adress {
    top: 198px;
    right: 250px;
}

.contactForm{
    top: 453px;
    right: 186px;
    text-align: center;
}

.formTitle{
    margin: 0 0 4px 0;
}

.contactUsText{
    top: 480px;
    left: 301px;
    font-size: 31px;
    width: 300px;
    text-align: center;
}

.contactButton {
    position: absolute;
    top: 429px;
    right: 495px;
    background-color: white;
    border-color: transparent;
    width: 89px;
    height: 27px;
    border-radius: 25px;
    font-family: "Abhaya Libre";
    font-weight: 800;
    font-size: 15px;
}