/* 
.home-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

} */
.mainHome{
    width: 100%;
    /* margin-bottom: 138px; */
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}