
.topContain{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
}

.borderElement{
    width: 100%;
    background-color: #0F056B;
    height: 8px;
}

.infosContent{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 100%;
    background-color: #0F056B;
    color: white;
    /* padding-top: 60px; */
    padding-bottom: 60px;
    font-family: "Abhaya Libre";
    font-weight: 800;
    position: relative;
    margin-top: 70px;

}


.infoTitle{
    font-size: 25px;
    text-align: center;
}

.infoText, .infosRight{
    font-size: 18px;
    text-align: start;
}

.infoText{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paragraph{
    padding-right: 50px;
    font-weight: 500;
    
}

.infoParagraph1{
    padding-left: 50px;
    padding-bottom: 30px;
}
.infoParagraph2 {
    padding-bottom: 30px;

}

.infosRight{
    display: flex;
    flex-direction: column;
    width: 100%;
align-items: flex-end;
}

.infosRight2{
    width: 75%;
}

.buttonsComponents{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.docButtonHome {
    border-radius: 10px;
    border-color: transparent;
    width: 175px;
    height: 30px;
    font-family: "Abhaya Libre";
    font-size: 15px;
    font-weight: 800;
}

.greyCatDiv {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 500px;
    height: 300px;
}

.greyCatImg {
    width: 100%;
    height: 100%;
}